<h1>FORM DE UPLOAD</h1>

<form method="post" enctype="multipart/form-data"> <!-- to send files to your back-end you need define you encrypt type -->
    <input type="file" name="file">
    <input type="button" value="upload">
</form>